
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF8"/>
    <title>Plotly</title>
</head>
<body>
    <h1>Detailed information of {{title}}:</h1>
    <h2>Scores:</h2>
    {{plot_div | safe}}
    <i>(Source: Rotten Tomatoes, Metacritic and IMDB)</i>
    <h2>Synopsis:</h2>
    </p> {{synopsis}}</p> 
    <h2>Rating:</h2>
    </p> {{rating}}</p> 
    <h2>Directed By:</h2>
    </p> {{director}}</p> 
    <h2>Written By:</h2>
    </p> {{writer}}</p> 
    <h2>In Theaters:</h2>
    </p> {{time}}</p> 
    <h2>Runtime:</h2>
    </p> {{length}}</p> 
    <h2>Studio:</h2>
    </p> {{studio}}</p> 
    <h2>Actors:</h2> 
    </p> {{actors}}</p> 
    <h2>Language:</h2>
    </p> {{language}}</p> 
    <h2>Country:</h2>
    </p> {{country}}</p> 
    <h2>Awards:</h2>
    </p> {{awards}}</p> 

</body>
</html>